<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify your account</title>
  </head>
  <body>
    <h3>Account Verified</h3>
    <p>Hi, <b>{name}</b>,Thanks for Registering an account with as .</p>
    <p>
      Please verify your account by clicking the link
      <p><a href={{link}}> Verify our account</a></p>

    </p>
    <p>Kindly note that this like will be valid fo the next 15 minutes only</p>

  </body>
</html>