<html lang="en">
  <head>

    <title>Password Reset Request</title>
  </head>
  <body>
    <h3>Password Reset Request</h3>
    <p>Hi,<b>{{name}},</b></p>
    <p>It looks like you need a little help with your password. we're on it</p>
    <p>if this was you, please reset your password by clicking on
      <a href="{{link}}">Reset Password</a></p>
    <p>If you didn't request for this , simply ignore. Noting will change in
      your account settings, an your account will remain secure.</p>

    <p>be aware that this like is only valid for the next 15 minute</p>
  </body>
</html>