<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to MERN Invoice</title>
  </head>
  <body>
    <h3>Account Verified</h3>
    <p>Hi, <b>{name}</b>,Thanks for verifying your account.</p>
    <p>
      <a href={{link}}> login to your account</a>
    </p>
    <p>
      Hope you find our service of value!
    </p>
  </body>
</html>